h1.about-me {
    letter-spacing: 5px;
}

p.about-me-text {
    color: rgb(198, 198, 198);
    margin-left: 30px;
}

p a.contact-email {
    color: rgb(169, 30, 30) !important;
    &:hover {
        color: rgb(221, 59, 59) !important;
    }
    transition: color 210ms linear;
    text-decoration: none;
}

p.contact-mobile {
    color: rgb(234, 234, 234) !important;
}